

@media only screen and (max-width: 600px) {
  .header {grid-area: 1 / span 6;
  }
  .menu {
    display: none;
  }
}


.logo{
  /*Loggo samma storlek och margin i desktop och mobile */
  width: 128px;
  height: 82px;
  margin-top: 26px;
  margin-left: 27px;
}
header{
    background-color: #011827;
    font-family: roboto;
}
.head{
    color:white;
    font-family: "Roboto", sans-serif;
    font-style: bold;
}